@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Slightly Darker Light Theme */
  /* Brand Blue Color Palette */
  --brand-primary: 29, 78, 216;    /* Tailwind's blue-700 - Professional, trustworthy */
  --brand-secondary: 59, 130, 246; /* Tailwind's blue-500 - Vibrant accent */
  --brand-accent: 147, 197, 253;   /* Tailwind's blue-300 - Soft highlight */
       /* Muted blue (blue-300) */
}
  .dark {
    --foreground-rgb: 30, 30, 30;
    --background-start-rgb: 10, 12, 12;
    --background-middle-rgb: 3, 22, 33;
    --background-end-rgb: 0, 0, 50;
  }


html{
  scroll-behavior: smooth;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    85deg,
    rgb(var(--background-start-rgb)) 38%,
    rgb(var(--background-middle-rgb)) 100%,
    rgb(var(--background-end-rgb)) 100%
  );
}


